.hourCard {
    width: 41.72px;
    height: 67.83px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.faColor {
    color: #d9d9d9;
}

.time {
    width: 41.72px;
    height: 15.96px;
    font-family: Ropa Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.temp {
    width: 41.72px;
    height: 15.96px;
    text-align: center;
    display: block;
}

.icon {
    font-size: 30px;
    width: 41.72px;
    height: 31.25px;
    text-align: center;
}
