
.weatherWidget{
    position: relative;
    width: 450px;
    height: 560px;
    
    background-color:gray;
}

.container{
    position: absolute;
    width: 340px;
    height: 399px;
    left: 55px;
    top: 80px;

    background-color: #FFFFFF;
    box-shadow: 0px 4px 16px 8px rgba(0, 0, 0, 0.25);
    border-radius: 25px;   
}

.header{   
    //position: absolute;
    
    width: 340px;
    height: 47.88px;
    left: 55px;
    top: 80px;

    background: #30A0F5;
    border-radius: 25px 25px 0px 0px;
    
}

.weatherText{
    
    font-family: Ropa Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    
}

.weatherTextBox{
   
    width: 251px;
    height: 47.88px;
    left: 97px;
    top: 79px;

    align-items: center;
    text-align: center;

}



.iconContainer{
    float:left;
}

.description{
    float:right;
}

.hourlyForecast{
    //position: absolute;
    width: 300px;
    height: 67.83px;
    left: 75px;
    top: 247.58px;
    //margin: auto;
    background-color: white;
    display:flex;
    flex-direction:row;
    justify-content: space-around;

    

}

.dailyForecast{
    //position: absolute;
    width: 291px;
    height: 123.69px;
    left: 75px;
    top: 341.34px;
  
    //margin: auto;
    background-color: white;
    display:flex;
    flex-direction: column;


  

}


.currentWeatherBox{
    //position: absolute;
    width: 300px;
    height: 80.8px;
    left: 75px;
    top: 140.85px;
    background-color: white;
    display: flex;
    justify-content: space-around;


}
 